/* Global settings */
* {
  font-family: poppins;
  margin: 0;
}

/* Header and navigation */
header {
  height: 15vh;
  background-color: #155294;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20% auto;
}

@media (max-width: 600px) {
  header {
    background-color: lightgreen;
  }
}

#navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Centraliza os itens dentro do ul */
  align-items: center;
  height: 100%;
  padding: 0; /* Remove padding padrão */
  gap: 2vw; /* Controla o espaçamento entre os itens */
}

#navBar li {
  list-style: none;
  margin-right: 0;
  justify-content: right;
  margin-right: 1vh;
}

#navBar a,
#navBar i {
  color: white;
  text-decoration: none;
  display: inline-block;
}

#navBar a:hover {
  cursor: pointer;
  color: #050c05;
  transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
}

#logotipo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

#logotipo img {
  height: 30%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main content and forms */
main {
  display: grid;
  grid-template-columns: auto auto;
}

.container h2 {
  text-align: center;
  margin-top: 5%;
}

.card {
  border: 1px solid rgb(190, 171, 171);
  margin: 5%;
  padding: 0;
  border-radius: 25px;
  background-color: #4077b3c9;
  display: grid;
}

/* Form styling */
.form-input {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.form-input p {
  margin-right: 15px;
  width: 100%;
}

.form-textarea {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.form-textarea textarea {
  height: auto;
}
